aiofiles==0.7.0
aiogram==2.19
aiohttp==3.8.1
aiosignal==1.2.0
async-timeout==4.0.1
attrs==21.2.0
Babel==2.9.1
certifi==2021.10.8
charset-normalizer==2.0.7
click==8.0.3
colorama==0.4.4
DAWG-Python==0.7.2
docopt==0.6.2
frozenlist==1.2.0
fuzzywuzzy==0.18.0
idna==3.3
joblib==1.1.0
magic-filter==1.0.5
multidict==5.2.0
psycopg2==2.9.2
pyaes==1.6.1
pyasn1==0.4.8
pydantic==1.9.0
pymorphy2-dicts-ru==2.4.417127.4579844
python-Levenshtein==0.12.2
pytz==2021.3
regex==2022.1.18
requests==2.27.1
rsa==4.8
six==1.16.0
Telethon==1.24.0
tqdm==4.62.3
transliterate==1.10.2
typing_extensions==4.0.0
urllib3==1.26.8
yarl==1.7.2
